# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
#
*.iml
.idea
.gradle
local.properties

# node.js
#
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

.vscode/
.env

android/app/dhs-pra.keystore
ios/main.jsbundle*

# Crashlytics says don't commit this to version control
android/app/src/main/res/values/com_crashlytics_export_strings.xml
android/app/src/main/assets/crashlytics-build.properties

fastlane/.env
fastlane/report.xml
ProviderResponseApp.app.dSYM.zip
*.cer
*.mobileprovision