<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.providerresponseapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" tools:remove="${excludeSystemAlertWindowPermission}"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.PHONE" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" tools:node="remove" />
    <uses-permission android:name="android.permission.CALL_PHONE" tools:node="remove" />
    <uses-permission android:name="android.permission.ADD_VOICEMAIL" tools:node="remove" />
    <uses-permission android:name="android.permission.USE_SIP" tools:node="remove" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <meta-data
        android:name="io.fabric.ApiKey"
        android:value="f790df731f74438d99969b27bd5e43d70b44e6a1"
      />
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBTOq93Ii6izz5mJG-neVwq2SqC4fF-INA"
      />

    </application>

</manifest>
